@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');

:root {
    --primary-color: #7a51e9;
    --secondary-color: #85ae16;
    --background: #f6f6f8;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 2rem;
    border: 2px solid black;
    height: 100vh;
    width: 100vw;
}

header {
    width: 100%;
}

header img,
main img {
    max-width: 150px;
    height: auto;
}

nav ul {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
    padding: .5rem 0;
    list-style: none;
}

nav li a {
    text-decoration: none;
    background-color: var(--background);
    border-radius: 15px;
    padding: .4rem .8rem;
    color: black;
}

nav li a:hover {
    color: white;
    background-color: var(--primary-color);
}

.nav-a--active {
    color: white;
    background-color: var(--primary-color);
}

.wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 350px;
    height: 338px;
}

main h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

main img {
    position: absolute;
    top: 0;
    z-index: 1;
}

main div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 4rem 0;
    text-align: center;
    background: url('../img/trapezoide.svg') no-repeat center center / cover;
    width: 100%;

}

.ideas-btn {
    border-radius: 15px;
    padding: .4rem .8rem;
    color: white;
    background-color: black;
    text-decoration: none;
    margin: 0 auto;
    box-shadow: 0 3px #999;
    transition: transform 0.1s ease-in-out;
}

.ideas-btn:hover {
    background-color: var(--primary-color);
}

.ideas-btn--active {
    transform: translateY(5px);
    box-shadow: 0 1px #999;
}


.col-1,
.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-1 {
    gap: 3rem;
}

.col-2 p {
    text-align: center;
}


@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        width: 760px;
    }

    nav {
        max-width: 350px;
    }

    .col-1,
    .col-2 {
        width: 350px;
    }

    .col-1 {
        border-right: dotted 2px black;
    }

}

@media (min-width: 1025px) {
    .container {
        width: 1000px;
    }

    .col-1,
    .col-2 {
        width: 500px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1400px;
    }

    .col-1,
    .col-2 {
        width: 700px;
    }
}